@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');


html {
    font-family: 'Gmarket Sans';
}



/* common */

div {
    box-sizing: border-box;
}

.inner {
    width: 1920px;
    margin: 0 auto;
}

.font-26 {
    font-size: 26px;
}

.font-34 {
    font-size: 34px;
}

.font-38 {
    font-size: 38px;
}

.font-40 {
    font-size: 40px;
}

.font-42 {
    font-size: 42px;
}

.font-44 {
    font-size: 44px;
}

.font-50 {
    font-size: 50px;
}

.font-70 {
    font-size: 70px;
}

.font-72 {
    font-size: 72px;
}

.font-80 {
    font-size: 80px;
}

.font-90 {
    font-size: 90px;
}

.font-150 {
    font-size: 150px;
}

.font-230 {
    font-size: 230px;
}

.font-300 {
    font-weight: 300;
}

.font-500 {
    font-weight: 500;
}

.font-700 {
    font-weight: 700;
}


.white {
    color: #eee;
}

.yellow {
    color : #FFF93D
}


.mb20 {
    margin-bottom: 20px;
}

.mb28 {
    margin-bottom: 28px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb67 {
    margin-bottom: 67px;
}

.mr67 {
    margin-right: 67px;
}

.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml42 {
    margin-left: 42px;
}

.ml67 {
    margin-left: 67px;
}

.ml88 {
    margin-left: 88px;
}

.mtb47 {
    margin: 42px 0px 42px 0px
}

/* section1 */

.section1 {
    position: relative;
    padding-bottom: 65px;
}

.section1 p {
    font-size: 50px;
    color: #fff;
}

.section1 .container {
    width: 100%;
    height: 1689px;
    background-color: #3B4CA8;
}

.main-title_img {
    position: absolute;
    transform: translate(478px, 243px);
    margin: 0 auto;
    width: 964px;
    height: 257px;
    background: url('/imges/maintext.png')
}

.container .subtit {
    position: absolute;
    transform: translate(643px, 173px);

}

.container .hashtag {
    position: absolute;
    transform: translate(507px, 533px);
    font-weight: 300;

}

.main-obg {
    width: 687px;
    height: 582px;
    position: absolute;
    transform: translate(617px, 662px);
    background: url('../imges/sec-01_01.png');
}

.section1 .boxes {
    position: absolute;
    display: flex;
    top: 1244px;
    left: 0;
    width: 100%;
    height: 512px;
}

.section1 .boxes .box-left {
    width: 50%;
    height: 100%;
}

.section1 .boxes .box-left .left-top {
    width: 100%;
    height: 364px;
    background-color: #FFDE00;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section1 .box-left .left-top p {
    color: #1B1B1B;
}


.section1 .box-left .left-bottom {
    position: relative;
    width: 100%;
    height: 148px;
    background-color: #381E1F;
}

.section1 .box-left .left-bottom .bottom_content {
    position: absolute;
    right: 0;
    width: 961px;
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1 .box-left .left-bottom .bottom-icon_left {
    background: url('../imges/icon/sec01-icon__left.svg') no-repeat;
    background-position: center;
    width: 36px;
    height: 148px;
}

.section1 .box-left .left-bottom .bottom_kakao {
    display: flex;
}

.section1 .box-left .left-bottom .bottom_kakao .kakao_icon {
    background: url('../imges/icon/sec01-icon__kakao.svg') no-repeat;
    background-position: center;
    width: 86px;
    height: 86px;
}

.section1 .box-left .left-bottom p {
    color: #FFDE00;
}

.section1 .box-right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: darkkhaki;
}

.section1 .box-right .right-top {
    width: 100%;
    height: 364px;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 .box-right .right-top h2 {
    color: #1B1B1B;

}

.section1 .box-right .right-top p {
    color: #1B1B1B;

}

.section1 .box-right .right-bottom {
    width: 100%;
    height: 148px;
    background-color: #005ADF;
}

.section1 .right_tel {
    display: flex;
}

.section1 .box-right .right_tel .tel_icon {
    background: url('../imges/icon/sec01-icon__phone.svg') no-repeat;
    background-position: center;
    width: 98px;
    height: 98px;
    margin-right: 10px;
}

.section1 .box-right .right_icon-right {
    background: url('../imges/icon/sec01-icon___right.svg') no-repeat;
    background-position: center;
    width: 98px;
    height: 98px;
    margin-right: 10px;
}


.section1 .box-right .bottom_content {
    position: absolute;
    left: 0;
    width: 1050px;
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* section2*/

.section2 {
    position: relative;
    margin-top: 65px;
}

.section2 .container {
    height: 1810px;


}

.section2 .bg-box {
    margin: 0 auto;
    width: 549px;
    height: 539px;
    border: solid 8px #00D25E;
    border-radius: 30px;

}

.section2 .bg-logo {
    background: url('../imges/sec02-logo__naver.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 247px;
    height: 61px;
    margin: 83px auto;
}

.section2 .serach-box {
    position: absolute;
    background: url('/asset/imges/icon/sec02-icon__search.svg') no-repeat;
    background-position: 90%, 20%;
    width: 821px;
    height: 114px;
    border: solid 8px #00D25E;
    background-color: #fff;
    border-radius: 100px;
    transform: translate(549px, 266px);
    text-align: center;
    line-height: 114px;
}

.section2 .cs {
    position: absolute;
    top: 449px;
    width: 100%;
    background-color: #EEE;
    text-align: center;
}

.section2 .cs .title {
    padding-top: 150px;
}

.section2 .notice {
    margin: 0 auto;
    width: 695px;
    height: 76px;
    background-color: #3C1B1C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
}

.section2 .obj {
    margin: 0 auto;
    background: url('/asset/imges/sec02-01.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 1859px;
    height: 678px;

}


.section2 .obj-textbox {
    background-color: #eee;
    margin: 0 auto;
    width: 1669px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section2 .obj-textbox .text {
    width: 522px;
    height: 80px;
    background-color: #F9E10B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section3 {
    background-color: #0DCCD3;
    position: relative;
}

.section3 .inner {}

.section3 .inner .container {
    padding: 200px 120px;
}

.section3 .inner .container .title {
    height: 503px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 127px;
}

.section3 .inner .container .title .badge {
    width: 547px;
    height: 109px;
    background-color: #eee;
    border-radius: 500px;
    display: flex;
    justify-content: center;
}

.section3 .inner .container .title .badge p {
    line-height: 120px;
    color: #0DCCD3;
}

.section3 .inner .container .title h2 {
    color: #eee;
}

.section3 .inner .container .title p {
    color: #eee;
}


.section3 .inner .container .obj {
    background: url('/site/asset/imges/sec03-01.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 831px;
    height: 766px;
    position: absolute;
    top: 0;
    transform: translate(840px, 150px);
}



.section3 .inner .container .boxes {
    height: 1719px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section3 .inner .container .boxes .box {
    width: 1680px;
    height: 545px;
    border-radius: 20px;
    display: flex;
    background-color: #eee;

}

.section3 .inner .container .boxes .box .box-icon_s1 {
    background: url('/site/asset/imges/sec03-02.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 444px;
    height: 444px;
    margin: 42px 0px 0px 71px;
}

.section3 .inner .container .boxes .box .box-icon_s2 {
    background: url('/site/asset/imges/sec03-03.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 444px;
    height: 444px;
    margin: 42px 0px 0px 71px;

}

.section3 .inner .container .boxes .box .box-icon_s3 {
    background: url('/site/asset/imges/sec03-04.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 565px;
    height: 438px;
    margin: 54px 0px 53px 0px;

}

.section3 .inner .container .boxes .box .box-text {
    margin-top: 72px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section3 .inner .container .boxes .box .box-text h3 {
    color: #0DCCD3;
}

.section3 .inner .container .boxes .box .box-text h2 {
    color: #373737;
}

.section3 .inner .container .boxes .box .box-text p {
    color: #373737;
    width: 851px;
    height: 82px;
    background-color: #0DCCD3;
    border-radius: 500px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .foot {
    margin-top: 100px;
    text-align: center;
    color: #eee;
}

.section4 {}

.section4 .title {
    text-align: center;
    margin-top: 150px;
}

.section4 .items {
    margin: 0 auto;
    width: 1681px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.section4 .items .item {
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(1) .img {
    background: url('/site/asset/imges/sec03-05.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(2) .img {
    background: url('/site/asset/imges/sec03-06.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(3) .img {
    background: url('/site/asset/imges/sec03-07.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(4) .img {
    background: url('/site/asset/imges/sec03-08.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(5) .img {
    background: url('/site/asset/imges/sec03-09.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section4 .items .item:nth-child(6) .img {
    background: url('/site/asset/imges/sec03-10.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 547px;
    height: 396px;
}

.section5 { 
    margin-top: 150px;
}

.section5 h2{ 
    margin-top: 200px;
    font-size: 130px;
    font-weight: 700;
    text-align: center;
    color: #eee;
}

.section5 .container {
    background: url('/site/asset/imges/sec04-bg.png');
    width: 1920px;
    height: 1974px;
    padding: 1px;
}

.section5 .boxes {
    margin-top: 152px;
    height: 1160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section5 .boxes .box {
    background-color: #eee;
    width: 1679px;
    height: 370px;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section5 .boxes .box:nth-child(1) .profile{
    background: url('/site/asset/imges/sec04-01.png') no-repeat;
    background-position: center;
    width: 316px;
    height: 316px;
}


.section5 .boxes .box:nth-child(2) .profile{
    background: url('/site/asset/imges/sec04-02.png') no-repeat;
    background-position: center;
    width: 304px;
    height: 304px;
}


.section5 .boxes .box:nth-child(3) .profile{
    background: url('/site/asset/imges/sec04-03.png') no-repeat;
    background-position: center;
    width: 296px;
    height: 296px;
}



.section5 .boxes .text{

}

.section5 .boxes .text p{
    font-size: 42px;
    width: 1180px;
    word-break: keep-all;
}

.section6 {

}

.section6 .container{
    background-color: #686868;
    padding: 150px 0;
}

.section6 .container .main-icon{
    background: url('/site/asset/imges/sec05-01.png') no-repeat;
    background-position: center;
    width: 399px;
    height: 360px;
    margin: 238px auto 49px;
}

.section6 .container h2{
    text-align: center;
    color: #eee;
}

.section6 .container p{
    margin-top: 86px;
    text-align: center;
    font-size: 60px;
}

.section6 .container .boxes{
    height: 2720px;
    width: 1680px;
    background: #eee;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 120px;

}

.section6 .container .boxes .box{
    width: 1522px;
    height: 504px;
    margin: 0 auto;
}

.section6 .container .boxes .box .icon{
    margin: 53px auto 23px ;
}

.section6 .container .boxes .box:nth-child(1) .icon{
    background: url('/site/asset/imges/sec05-02.png') no-repeat ;
    background-position: center;
    width: 281px;
    height: 237px;

}
.section6 .container .boxes .box:nth-child(2) .icon{
    background: url('/site/asset/imges/sec05-03.png') no-repeat ;
    background-position: center;
    width: 281px;
    height: 237px;

}
.section6 .container .boxes .box:nth-child(3) .icon{
    background: url('/site/asset/imges/sec05-04.png') no-repeat ;
    background-position: center;
    width: 281px;
    height: 237px;

}
.section6 .container .boxes .box:nth-child(4) .icon{
    background: url('/site/asset/imges/sec05-05.png') no-repeat ;
    background-position: center;
    width: 281px;
    height: 237px;

}
.section6 .container .boxes .box:nth-child(5) .icon{
    background: url('/site/asset/imges/sec05-06.png') no-repeat ;
    background-position: center;
    width: 281px;
    height: 237px;

}

.section7 {
 width: 100%;
 background: #3B4CA8;
}

.section7 .inner{
 
}

.section7 .inner .container{
 padding: 166px 122px 228px 158px;
}

.section7 .inner .container .boxes{
    display: flex;
}

.section7 .inner .container .boxes .box-left{
    display: flex;
    flex-direction: column;
}

.section7 .inner .container .boxes .box-left p{
 font-size: 38px;
 margin-bottom: 15px;
}

.section7 .inner .container .boxes .box-left h2 {
    background: url('/site/asset/imges/sec06-text.png') no-repeat;
    background-position: center;
    width: 631px;
    height: 189px;
}

.section7 .inner .container .boxes .box-left .img {
    background: url('/site/asset/imges/sec06-01.png') no-repeat;
    background-position: center;
    width: 638px;
    height: 179px;
}



.section7 .inner .container .boxes .box-right{
 width: 828px;
 height: 438px;
border: solid black 1px;
display: flex;
}

.section7 .inner .container .boxes .box-right .right-content{
width: 405px;
height: 438px;
background-color: #eee;
text-align: center;
}

.section7 .inner .container .boxes .box-right .right-content .content-text{

}

.section7 .inner .container .boxes .box-right .right-content .content-text h2{

}

.section7 .inner .container .boxes .box-right .right-content .content-text p{

}
